<div class="flex flex-col items-center justify-center w-full p-5" *ngIf="profiles.length!=0">

   <div class="items-start text-2xl font-bold">Suggestions</div>
    <div class="flex  items-center justify-center -ml-[200px] min-w-full">
        <div class="flex relative mt-10">
            <div
              
             class="profile-card transform transition-all  opacity-100  absolute rounded-lg" 
             *ngFor="let profile of profiles; let i = index" 
            
            >
                <recommendation-card [data] = 'profile' (actionOnCard)="handleActionOnCard($event)" ></recommendation-card>
            </div>
        </div>
        <div class="background-card-container relative">
            <div class="background-card1" >
              </div>
              <div class="background-card2" >
                </div>
        </div>
<div>
    
</div>
   


    </div>

</div>

<div *ngIf="profiles.length==0">
All Suggesions Viewed!!
</div>