<div class="flex flex-col items-center justify-center w-full p-5" *ngIf="profiles.length!=0">

   <div class="items-start text-2xl font-bold">Suggestions</div>
    <div class="flex  items-center justify-center -ml-[200px] min-w-full">
        <div class="flex relative mt-10">
            <div
              
             class="profile-card transform transition-all  opacity-100  absolute rounded-lg" 
             *ngFor="let profile of profiles; let i = index" 
            
            >
                <recommendation-card [data] = 'profile' (actionOnCard)="handleActionOnCard($event)" ></recommendation-card>
            </div>
        </div>
        <div class="background-card-container relative">
            <div class="background-card1" >
                <!-- Dummy Card Content Goes Here -->
                <h2>Card </h2>
                <!-- Add more dummy card information here -->
              </div>
              <div class="background-card2" >
                  <!-- Dummy Card Content Goes Here -->
                  <h2>Card </h2>
                  <!-- Add more dummy card information here -->
                </div>
        </div>
<div>
    
</div>
   


    </div>
    <!-- <div class="flex space-x-2">
        <button (click)="handleNo()" class="bg-red-500 text-white py-2 px-4 rounded-lg mr-4">No</button>
        <button (click)="handleYes()" class="bg-green-500 text-white py-2 px-4 rounded-lg">Yes</button>
    </div> -->
</div>

<div *ngIf="profiles.length==0">
All Suggesions Viewed!!
</div>