<!-- <div class="flex rounded-md border-2 w-[100px] h-[500px]">

</div>
 -->
 <div class="flex flex-col rounded-lg border-2 w-[200px] h-[300px] space-y-1 max-w-sm  shadow-lg">
    <div class="flex h-[150px]">
        <img class="rounded-t-lg w-[200px] h-[150px]" [src] ='data.image'>
    </div>
    <div class="flex flex-col p-[10px] space-y-1">
<div class="font-semibold">{{data.name}}</div>
<div class="flex text-sm"> {{data.address}}
</div>
<div class="flex">
    <button class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-4 rounded-full">
        Yes
      </button>
      <button class="border border-slate-400 bg-white hover:bg-slate-300 text-slate-400 font-bold py-1 px-4 rounded-full ml-1">
        No
      </button>
</div>
    </div>

 </div>